    <div class="span7" id="workArea">
      <div class="worksheet">
        <div id="honeycombcontainer"></div>
      </div>
    </div>

    <script defer="defer">
      /** Global variable for cell*/
      var movingCell = null;
      var movingText = null;
      var movingLayer = null;
      var movingGroup = null;
      dragGroup = null;
      createMovingLayer();
      var cellYCordinate = 0;
      var cellYCordinate = 0;

      //Global pallets layer which should come on top of pallets panel
      var palletes_layer = null;

      //Global for cell-text which should come on the top of each cell
      var pallete_text = null;

      // create stage for the pallet. This will just be on the background of the pallet.
      var pallete_stage = null;

      // Initialized to false.  On mouseover on a hex a 1 second delay is triggered.  After the
      // delay, the mouseOverHex is checked if it were already true.  If so, the mouse has stayed 
      // on the hex for a second.  The tooltip can be shown and the vble set to false.  Else
      // set it to true and exit.  The mouse over event is triggered almost continuously.
      var mouseOverHex = false;

      //Moving group: contains the set of text object and the hexa-cell benith it.
      function createMovingGroup(){ 
          var group = new Kinetic.Group({
            draggable: true
          });
          return group;
      };

      function createMovingLayer(){
        movingLayer =  new Kinetic.Layer({
          draggable: false
        });
      };

      // Create the text layer that should come on top of the hexagonal cell
      function createTextLayer(cellWidth, cellText){
        var textObject = new Kinetic.Text({
          width: cellWidth,
          text: cellText,
          fontSize: 12,
          fontFamily: 'verdana',
          fontStyle: 'normal',
          stroke: '#000000',          
          strokeWidth: 1
        });

        return textObject;
      }

      //Method to create a hexagonal cell
      function createHexCell(color, cellText){
        /* Code to create the pallete */
        var hexCell = new Kinetic.RegularPolygon({
          sides:6,
          radius: 40,
          name: 'Cell',
          fill: color,
          rotationDeg: 90,
          stroke: '#DADADA',
          strokeWidth: 2,
          opacity:0.2,
          name: cellText
        });
        
        hexCell.on('mouseover', function(){
            var xc = this.getX();
            var yc = this.getY()-40;
            console.log("Mouse over hex"+this.getX() + " name: " + this.getName());
            var h = $("#honeycombcontainer");
            var canvas_ = $((h.children().first()));
            $(canvas_.append('<div id="desctooltip" style="z-index:100;background-color:#000000;width:1px;height:1px;position:absolute;margin-top:'+yc+'px;margin-left:'+xc+'px;" data-placement="top" data-toggle="tooltip" type="button" data-original-title="'+ fetchComponentDetails(this.getName()) +'" ></div>'));
            $("#desctooltip").tooltip('show');
          });

        /* Still dont know what this is for..*/
        function mouseStayCheck(){
          console.log("Delay over");
          if(mouseOverHex) {                      
            console.log("Mouse over hex long enough");
            console.log("Div:"+$("#desctooltip"));
            $("#desctooltip").tooltip('show');
            mouseOverHex = false;
          } else {
            mouseOverHex = true;
          }
        }

        hexCell.on('mouseout',function(){
          var topCanvas = $("#honeycombcontainer").children().first().children().first().next();
          var topCanvastag = $(topCanvas).get(0).tagName;
          console.log(topCanvastag);                    
           mouseOverHex = false;
           $("#desctooltip").tooltip('hide');
           $("#desctooltip").remove();
        });
        return hexCell;
      }


      /** This is the code to create Hexagonal grid */
      var stage = new Kinetic.Stage({
        container: 'honeycombcontainer',
        width: 800,
        height: 900,
        strokeWidth: 2
      });

      //layer containing the shapes
      var shapesLayer = new Kinetic.Layer();
      createHexGrid();

      //Method to create the hexagon grid.
      function createHexGrid(){
        for(var n = 0; n < 100; n++) {
          // anonymous function to induce scope
          (function() {
            var row = n;
            var xCord = 0;
            var yCord = 0;
            for (var col = 0; col < 100; col++) {
              xCord = (col*80*1.5)+ ((row%2) * 60) ;
              yCord = (row*70*(.5)) ;

              /** Intitilizer for the hexagons */
              var hexa = new Kinetic.RegularPolygon({
                sides:6,
                radius: 40,
                x: xCord,
                y: yCord,
                name: 'Grid',
                fill: 'white',
                rotationDeg: 90,
                stroke: '#C2C2C2',
                strokeWidth: 1
              });
              
              try{
                hexa.on('mouseup', function() {
                  cellXCordinate = this.getX();
                  cellYCordinate = this.getY();
                  if(movingCell != null && movingText != null){
                    movingCell.setX(cellXCordinate);
                    movingCell.setY(cellYCordinate);
                    
                    movingText.setX(cellXCordinate-20);
                    movingText.setY(cellYCordinate-10);
                    movingGroup = createMovingGroup();
                    
                    movingGroup.add(movingText);
                    movingGroup.add(movingCell);
                    movingLayer.add(movingGroup);
                    stage.add(movingLayer);
                    movingCell = null;
                    movingText = null;
                  }
                });
              }
              catch(e){
                console.log('error in event handling..');
                console.log(e);
              }

              //group.add(hexa);
              shapesLayer.add(hexa); 
            };
          })();
        }
      };

      //add the shapes layer to the stage
      stage.add(shapesLayer);       
      stage.on('mouseover', function() {
        document.body.style.cursor = 'crosshair';
      });
    
      stage.on('mouseout', function() {
        document.body.style.cursor = 'default';
      });

    function createContentObj(event, cellText, color){
      event.preventDefault();
      console.log('A drag event was triggerred..');
      movingText = createTextLayer(40 * 2 , cellText);
      movingCell = createHexCell(color, cellText);
      //fetchComponentDetails(cellText)
    }

    /* 
      Finds and fetches the content from the given ID. 
      Please note that this function is written under the assumption that every Component-ID is unique.
      In case the component ID is not unique, then the approach has to be changed.
    */
    function fetchComponentDetails(contentID){
      var descText =  $("#"+ contentID).parent().siblings().find($('.desc > p')).text();
      return descText;
    }

    /* 
      This is javascript map object. This shall be used to store the component information for a given id.      
    */
    </script>