@img-base-url: "../images/";
@hex-sprite-width: -48px;
@hex-sprite-height: -42px;

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

#hexagonal-grid {
  width: 100%;
  height: 100%;
  background: #eee;
  background-position: 0px 0px;
}

#content-search {
  position: absolute;
  z-index: 1000;
}

.hex {
  color: white;
  text-align: center;
  position: absolute;
}

.hex.current {
  background-image: url('/assets/images/sprite.png');
  background-position: (0 * @hex-sprite-width) (0 * @hex-sprite-height);
  z-index: 1;
}

.hex.new {
  background-image: url('/assets/images/sprite.png');
  background-position: (4 * @hex-sprite-width) (1 * @hex-sprite-height);
}

.hex.stories {
  background-image: url('/assets/images/sprite.png');
  background-position: (3 * @hex-sprite-width) (2 * @hex-sprite-height);
}

.hex.forces {
  background-image: url('/assets/images/sprite.png');
  background-position: (7 * @hex-sprite-width) (0 * @hex-sprite-height);
}

.hex.solutionComponents {
  background-image: url('/assets/images/sprite.png');
  background-position: (0 * @hex-sprite-width) (2 * @hex-sprite-height);
}

