@(title: String)(content: Html)

<!DOCTYPE html>

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta charset="utf-8">
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=9">

        <link href="@routes.Assets.at("stylesheets/bootstrap.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/typeahead-bootstrap.css")" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">

        <script src="@routes.Assets.at("javascripts/jquery-1.9.1.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-2.3.2.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/hex-0.1.0.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/hogan-2.0.0.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/typeahead-0.9.3.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-tooltip-v2.2.2.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-transition-v2.2.1.js")" type="text/javascript"></script>
        <!-- Load extended hex library -->
        <script src="@routes.Assets.at("javascripts/hex-ext-0.1.0.js")" type="text/javascript"></script>
        <!-- Load the utility library. -->
        <script type="text/javascript" src="@routes.Assets.at("javascripts/realtime-client-utils.js")"></script> 
        <!-- Load the Realtime libraries. -->
        <script type="text/javascript"
              src="https://apis.google.com/js/api.js"></script>
        <!-- Load the callbacks required for configuring realtime -->
        <script type="text/javascript" 
              src="@routes.Assets.at("javascripts/realtime-callbacks.js")"></script>   
        <!-- Load the configuration options that activates realtime -->
        <script type="text/javascript" 
              src="@routes.Assets.at("javascripts/realtime-conf.js")"></script>     
        <script src="@routes.Assets.at("javascripts/jquery.form.js")"></script>
        <script src="@routes.Assets.at("javascripts/clusterOperations.js")"></script>
        <script src="@routes.Assets.at("javascripts/hexgrid.js")"></script>
        <script src="@routes.Assets.at("javascripts/elementSearch.js")"></script>
        <script src="@routes.Assets.at("javascripts/export.js")"></script>
        <script src="@routes.Assets.at("javascripts/fileuploadhandler.js")"></script>    

    </head>
    <body onLoad='startRealtime()'>
    @content
    </body>
</html>
