@(message: String)

@import tags._

@main("The Embodied Making Tool") {
        
  <!--  <div class="container" style="width:100%; margin-top:20px; position:sticky;">
    	<div class="masthead" style="margin-top: 15px;">
        
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav" style="width:80%;">
                <li class="active tooltabs"><a href="#" class="tooltablinks">My Projects</a></li>
                <li class="tooltabs"><a href="#" class="tooltablinks">My Account</a></li>
                <li class="tooltabs"><a href="#" class="tooltablinks">Settings</a></li>
                <li class="tooltabs"><a href="#" class="tooltablinks">Examples</a></li>
                <li class="tooltabs"><a href="#" class="tooltablinks">Help</a></li>
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
      	</div><!-- /.masthead -->
</div> <!-- end container -->  
-->

<div class="container" id="projectcontainer">

	@views.html.tags.mesh.render()
</div>
}
